
*.exe
PostgreSQL/14/share/timezone/Asia/Harbin
PostgreSQL/14/share/timezone/Asia/Gaza
*.dll
*.lib
*.txt
PostgreSQL/14/data/base/1/112
PostgreSQL/14/data/base/1/113
PostgreSQL/14/data/base/1/1247
PostgreSQL/14/data/base/1/1247_fsm
PostgreSQL/14/data/base/1/1247_vm
PostgreSQL/14/data/base/1/1249
PostgreSQL/14/data/base/1/1249_fsm
PostgreSQL/14/data/base/1/*
PostgreSQL/*