
/* Resetando as margens da pagina (primeira coisa a se fazer) */
*{
    margin: 0;
    padding: 0;
}

/* Garantido que a pagina ocupe a tela toda */
body, html {
    width: 100%;
    height: 100%;
    
}

.container{
    width: 100%; /* pegando o tamanho total da seu pai (body) */
    height: 100%;

    display: grid;
    grid-template-areas: "l r"; /* definindo as areas e colocando um nome */
    grid-template-columns: 1fr 1fr; 
}

#imageLogo {
    width: 35vh; /*Porcentagem do tamanho real da imagem*/
    max-width: 250px;
    padding: 30px;/*Espaçamento em volta da imagem*/
    position: relative;
    top: 120px;/*Distância do local inicial*/
}

#lateralImage {
    height: 100vh; /* imagem se ajusta com a altura da tela*/
    float: left;/*Posicionamento da imagem preta*/
    width: 70%;/*Largura da imagem*/
}

/*Pintar metade da tela (Esquerda)*/
.nav-left {
    background-color: rgb(0, 0, 0);
    grid-area: l;

}

/*Pintar metade da tela (Direita)*/
.nav-right {
    background-color: rgb(0, 0, 0);
    grid-area: r;
}

.box-formulario{
    background-color: #ffff;
    border: 2px solid rgba(0, 0, 0, 0.281);
    padding: 0px;
    /*position: absolute;*/
    text-align: center;
    position: relative;
    /*top: 40vh;*/
    width: 70%;
    float: right;
    height: 100vh;
}


.inputBox {
    position: relative;
}

.inputUser {
    background: rgba(0, 0, 0, 0.301);
    border: none;
    border-bottom: 2px solid blueviolet;
    outline: none; /* tirando a caixa de quando clica em cima */
    font-size: 20px;
    width: 50%;/*100%*/
    /*max-width: 300px;*/
    position: relative;
    top: 200px;
}

.inputLabel {
    color: dodgerblue;
    font-size: 20px;
    position: absolute;/*absolute*/
    top: 200px;
    left: 165px;
    pointer-events: none;
    transition: .5s;
}

/* animação da label subindo  */
.inputUser:focus ~ .inputLabel,
.inputUser:valid ~ .inputLabel{
    top: 185px;
    font-size: 15px;
    color: blueviolet;
    position: absolute;/*relative*/
}


/* Alterando a tela de acordo com o tamanho */
@media only screen and (max-width: 820px) {

    /* agora a pagina será baseada só na area esquerda */
    .container {
        grid-template-areas: "l";
        grid-template-columns: 1fr;
    }
    /* fazendo que a area da direita suma  */
    .nav-right {
        display: none;
    }
}
